
/* #root {
  max-width: 1280px;
  
  padding: 2rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
} */

.card {
  background-color: #03A9F4; /* bg-cyan-700 */
  border: 2px solid #032B44; /* border-2 border-b-cyan-900 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
  width: auto; /* w-40 */
  height: auto; /* h-40 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF; /* text-white */
  font-weight: bold;
}